<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RANA</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
</head>

<body>
    <nav>
        <div><a href="#" id="logo">RANA</a></div>
        <ul id="contents">
            <li class="tabs active"><a href="#">HOME</a></li>
            <li class="tabs"><a href="#">PRODUCTS</a></li>
            <li class="tabs"><a href="#">ABOUT US</a></li>
            <li class="tabs"><a href="#">CONTACT US</a></li>
            <span class="material-symbols-outlined cart">
                <a href="#">
                    shopping_bag
                </a>
            </span>
        </ul>
    </nav>
    <section id="sect">
        <div id="tex">
            <h1>EXCLUSIVE DEALS</h1>
            <h2>ON LOWEST PRICES</h2>
            <h3>SAVE UPTO 60% ON ALL FOOTWEAR</h3>
            <button id="shop-now">SHOP NOW</button>
        </div>
    </section>
    <section id="features">
        <h1 id="headF">FEATURES </h1>
        <span id="list-features">

            <span class="cards">
                <span class="material-symbols-outlined" id="card1">
                    local_shipping
                </span>
                <h2>local shipping</h2>
                <h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptatibus molestiae fugit nihil. Est
                    odio ullam fugit sunt sit a.</h5>
            </span>
            <span class="cards">
                <span class="material-symbols-outlined" id="card2">
                    home_pin
                </span>
                <h2>local shipping</h2>
                <h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptatibus molestiae fugit nihil. Est
                    odio ullam fugit sunt sit a.</h5>
            </span>
            <span class="cards">
                <span class="material-symbols-outlined" id="card3">
                    sms
                </span>
                <h2>local shipping</h2>
                <h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptatibus molestiae fugit nihil. Est
                    odio ullam fugit sunt sit a.</h5>
            </span>

            <span class="cards">
                <span class="material-symbols-outlined" id="card4">
                    package
                </span>
                <h2>local shipping</h2>
                <h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptatibus molestiae fugit nihil. Est
                    odio ullam fugit sunt sit a.</h5>
            </span>
            <span class="cards">
                <span class="material-symbols-outlined" id="card5">
                    inventory
                </span>
                <h2>local shipping</h2>
                <h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptatibus molestiae fugit nihil. Est
                    odio ullam fugit sunt sit a.</h5>
            </span>
        </span>


    </section>
    <div id="exclusive-products">
        <h1>CHECKOUT OUR NEW SUMMER COLLECTION</h1>
        <div class="itemslist">
            <div class="items">
                <img src="./luis-felipe-lins-J2-wAQDckus-unsplash.jpg" alt="" class="product">
                <h6 class="company">adidas</h6>
                <h3 class="pname">Adidas Air Sneakers</h3>
                <div class="shop">
                    <h3>69$</h3>
                    <span class="material-symbols-outlined cart1">
                        shopping_cart
                    </span>
                </div>
            </div>
            <div class="items">
                <img src="./luis-felipe-lins-J2-wAQDckus-unsplash.jpg" alt="" class="product">
                <h6 class="company">adidas</h6>
                <h3 class="pname">Adidas Air Sneakers</h3>
                <div class="shop">
                    <h3>69$</h3>
                    <span class="material-symbols-outlined cart1">
                        shopping_cart
                    </span>
                </div>
            </div>
            <div class="items">
                <img src="./luis-felipe-lins-J2-wAQDckus-unsplash.jpg" alt="" class="product">
                <h6 class="company">adidas</h6>
                <h3 class="pname">Adidas Air Sneakers</h3>
                <div class="shop">
                    <h3>69$</h3>
                    <span class="material-symbols-outlined cart1">
                        shopping_cart
                    </span>
                </div>
            </div>
            <div class="items">
                <img src="./luis-felipe-lins-J2-wAQDckus-unsplash.jpg" alt="" class="product">
                <h6 class="company">adidas</h6>
                <h3 class="pname">Adidas Air Sneakers</h3>
                <div class="shop">
                    <h3>69$</h3>
                    <span class="material-symbols-outlined cart1">
                        shopping_cart
                    </span>
                </div>
            </div>
        </div>
        <div class="itemslist">
            <div class="items">
                <img src="./luis-felipe-lins-J2-wAQDckus-unsplash.jpg" alt="" class="product">
                <h6 class="company">adidas</h6>
                <h3 class="pname">Adidas Air Sneakers</h3>
                <div class="shop">
                    <h3>69$</h3>
                    <span class="material-symbols-outlined cart1">
                        shopping_cart
                    </span>
                </div>
            </div>
            <div class="items">
                <img src="./luis-felipe-lins-J2-wAQDckus-unsplash.jpg" alt="" class="product">
                <h6 class="company">adidas</h6>
                <h3 class="pname">Adidas Air Sneakers</h3>
                <div class="shop">
                    <h3>69$</h3>
                    <span class="material-symbols-outlined cart1">
                        shopping_cart
                    </span>
                </div>
            </div>
            <div class="items">
                <img src="./luis-felipe-lins-J2-wAQDckus-unsplash.jpg" alt="" class="product">
                <h6 class="company">adidas</h6>
                <h3 class="pname">Adidas Air Sneakers</h3>
                <div class="shop">
                    <h3>69$</h3>
                    <span class="material-symbols-outlined cart1">
                        shopping_cart
                    </span>
                </div>
            </div>
            <div class="items">
                <img src="./luis-felipe-lins-J2-wAQDckus-unsplash.jpg" alt="" class="product">
                <h6 class="company">adidas</h6>
                <h3 class="pname">Adidas Air Sneakers</h3>
                <div class="shop">
                    <h3>69$</h3>
                    <span class="material-symbols-outlined cart1">
                        shopping_cart
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="web.js"></script>
</body>

</html>